./static/media/icon/Backup*Icons/

./don't*need/
./Reference/
./node_modules/
./notes/
package-lock.json

./static/media/oldSongs/
./static/media/songCovers/
./static/media/songs/
./static/potential*favicons/
