*{
	margin: .5% 2%;
	padding: 1% 2%;
	font-family: sans-serif;
}
body{
	background-color:grey;
}
.container{
	height: 100%;
	width: 100%;
	margin:auto;
	/*background-image: url(media/image.png);*/
	background-color: white;
	background-size: cover;
	background-position center;
	position: relative;
}

.centerBox{
	float:center;
	margin-right: 50%;
	margin:auto;
	margin-top: 50px;
	display:right;
	align-items:right;
}

.centerBox p{
	font-size:20px;
	color: black;
	margin:auto;
	font-weight:400;
	margin-right:10px;
}

#newImg{
	width:35px;
	cursor:pointer;
}

#seekBar{
	width: 250px;
	height: 5px;
	background-color:grey;
	border-radius:50px;
	margin-left:25px;
	cursor:pointer;       /* makes cursor the hand thing */
}

#fill{
	height:0px;
	background-color:royalblue;
	width: 0px;

}


#handlef{
	width: 5px;
	height: 12px;
	background-color:darkblue;
	border-radius:50%;
	margin-left: 0px;
	margin-top: -12px;
}

#navBar{
	width:92.2%;
	position:right;
	color:pink;
	background-color:black;
}

ul{
	list-style-type: none;
}

ul li{
	display: inline-block;
}

ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid #fff;
}

ul li a:hover{
	background-color: #fff; /*white*/
	color: #000;
}

ul li.active a{
	background-color: #fff;
	color: #000;
}