{% if select == 'promptContainers' %}
	<div id="screen-prompt-container"> </div>
	<div id="song-options-prompt-container"> </div>
	<div class="notification-box-container" id="notification-box-container"></div>
{% endif %}



{% if select == 'navbar' %}
	<div class="top-bar">
		<div class="search-bar"> Search... </div>
	</div>
{% endif %}



{% if select == 'sidePanel' %}
	<div class="side-panel">
		<a class="panel-button" href="/home/">
			<img class="side-panel-icon" src="{{ url_for('static',filename='media/icons/home.png') }}">
		</a>
		<a class="panel-button" href="/artists/"> 
			<img class="side-panel-icon" src="{{ url_for('static',filename='media/icons/artists.png') }}">
		</a>
		<a class="panel-button" href="/recents/">
			<img class="side-panel-icon" src="{{ url_for('static',filename='media/icons/recents.png') }}">
		</a>
		<div class="panel-button" id="new-playlist-button">
			<img class="side-panel-icon" src="{{ url_for('static',filename='media/icons/addPlaylist.png') }}">
		</div>
	</div>
{% endif %}