{% if select == 'promptContainers' %}
	<div class="screenPromptContainer" id="screenPromptContainer"> </div>
	<div class="songOptionsPromptContainer" id="songOptionsPromptContainer"> </div>
	<div class="successBoxContainer" id="successBoxContainer"></div>
{% endif %}



{% if select == 'navbar' %}
	<div class="topBar">
		<div class="searchBar"> Search... </div>
	</div>
{% endif %}



{% if select == 'sidePanel' %}
	<div class="sidePanel">
		<div class="panelButton" id="playlistsButto">
			<a href="/home/">
				<img class="sidePanelIcon" id="homeImg" src="{{ url_for('static',filename='media/icons/home.png') }}">
			</a>
		</div>
		<div class="panelButton" id="artistsButton">
			<a href="/artists/"> 
				<img class="sidePanelIcon" id="artistImg" src="{{ url_for('static',filename='media/icons/artists.png') }}">
			</a>
		</div>
		<div class="panelButton" id="recentsButton">
			<a href="/recents/">
				<img class="sidePanelIcon" id="recentImg" src="{{ url_for('static',filename='media/icons/recents.png') }}">
			</a>
		</div>
		<div class="panelButton" id="newPlaylistButton">
			<div>
				<img class="sidePanelIcon" id="addPlaylistImg" src="{{ url_for('static',filename='media/icons/addPlaylist.png') }}">
			</div>
		</div>
	</div>
{% endif %}