<!DOCTYPE html>
<html>
<head>
	<title> Home </title>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='./dist/bundle.css') }}">
	<script defer src="{{ url_for('static', filename='./dist/home.js') }}"> </script>
</head>

<body class="bodyClass" id="bodyID">
	{% with select="promptContainers" %}
		{% include "globalSiteComponents.html" %}
	{% endwith %}
	{% with select="navbar" %}
		{% include "globalSiteComponents.html" %}
	{% endwith %}

	<div class="homePageBackground">
		<div class="playlistGridContainer">
			{% with select="sidePanel" %}
				{% include "globalSiteComponents.html" %}
			{% endwith %}
			<div class="playlistGrid" id="playlistGrid"> </div>
		</div>
	</div>
</body>