<!DOCTYPE html>
<html>
<head>
	<title> Home </title>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='./dist/bundle.css') }}">
	<script defer src="{{ url_for('static', filename='./dist/bundle.js') }}"> </script>
</head>

<body class="bodyClass" id="bodyID">
	{% with select="navbar" %}
		{% include "globalSiteComponents.html" %}
	{% endwith %}

	<div class="homePageBackground">
		{% with select="sidePanel" %}
			{% include "globalSiteComponents.html" %}
		{% endwith %}
		<div class="playlistGridContainer">
			<div class="playlistBasicInfoContainer"> 
				<span class="playlistPreviewTitle"> Last Added </span>
			</div>
			<div class="playlistBasicInfoContainer"> 
				<span class="playlistPreviewTitle"> Lorem Ipsum </span>
			</div>
			<div class="playlistBasicInfoContainer"> 
				<span class="playlistPreviewTitle"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, </span>
			</div>
			<div class="playlistBasicInfoContainer">
				<span class="playlistPreviewTitle"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore </span>
			</div>
			<div class="playlistBasicInfoContainer">
				<span class="playlistPreviewTitle"> Hi </span>
			</div>
		</div>
	</div>
</body>