<!DOCTYPE html>
<html>
<head>
	<title> {{ playlistName }} </title>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='./dist/bundle.css') }}">
	<script 
		defer 
		id='scriptTag'
		playlistName = '{{ playlistName }}'
		playlistCreateDate = '{{ playlistCreateDate }}'
		formattedTotalTime = '{{ formattedTotalTime }}'
		numOfSongs='{{ numOfSongs }}'
		songObjectList = '{{ songObjectList|tojson }}'
		src="{{ url_for('static',filename='./dist/playlists.js') }}"
		> 
	</script>
</head>


<body class="bodyClass" id="bodyID" onload="createPage()" ondrop="fileDropHandler(event)" ondragover="dragOverHandler(event)">
	{% with select="navbar" %}
		{% include "globalSiteComponents.html" %}
	{% endwith %}
	<div class="playlistContentContainer" id="playlistContentContainer">
		{% with select="sidePanel" %}
			{% include "globalSiteComponents.html" %}
		{% endwith %}
		<div class="contentContainer">
			<header class="playlistHeader">
				<div class="playlistPreviewImages"> 
					<img class="coverPreviewImg" id="coverPreview0"></img>
					<img class="coverPreviewImg" id="coverPreview1"></img>
					<img class="coverPreviewImg" id="coverPreview2"></img>
					<img class="coverPreviewImg" id="coverPreview3"></img>
				</div>
				<header class="headerTitleAndButtons">
					<div class=headerTitleAndPlay>
						<h3 class="playlistTitle"> {{ playlistName }} </h3>
						<img class="headerPlayIcon" id="headerPlayIconID" src="{{ url_for('static',filename='media/icons/play.png') }}"> </img>
					</div>
					<div class="playlist-buttons-and-metadata-wrapper">
						<div class="playlist-buttons-container">
							<img class="headerSmallButton" id="headerShuffleIconID" 
								src="{{ url_for('static',filename='/media/icons/shuffle.png') }}">
							</img>
						</div>
						<div class="playlist-metadata-text-container">
							<span class="headerSmallButtonText" id = "totalTimeText"> {{ formattedTotalTime }} </span>
							<span class="headerSmallButtonText"> Created: {{ playlistCreateDate }} </span>
						</div>
					</div>
				</header>
			</header>
			<div class="songTableContainer">
				<audio id="mainAudio" src=""></audio>
				<div class="songTableHeader" id="songTableHeader">
					<span class = "large-field-container"> Name </span>
					<div class = "imgFiller"> </div>
					<img class="durationImg" src="{{ url_for('static',filename='/media/icons/duration.png') }}"></img>
					<span class = "medium-field-container"> Artist </span>
					<span class = "medium-field-container"> Album </span>
					<span class = "small-field-container"> Plays </span>
					{% if playlistName=='Last Added' %}
						<span class="date-field-container"> Date Added </span>
					{% endif %}
				</div>
				<table class="songTableClass" id="songTable">
					<tbody id="tableBody"></tbody>
				</table>
			</div>
		</div>
	</div>
	<div class="lowerBar">
		<div class="seekBar" id="seekBar" onmousedown="mouseDown()">
			<div class="seekBarProgress" id="seekBarProgress"></div>
			<div class="seekBarHandle" id="seekBarHandle"></div>
		</div>	

		<div class="lowerBarButtonsWrapper">
			<div class="currentTimeAndTitle">
				<span class="lowerBarSmallText" id="currentTimeStamp"> -:-- </span>
				<div class="playingTitle" id="playingTitleID"> Playing: </div>
			</div>

			<div class="threeButtonContainer" id="playButtons">
        		<img class="smallImg" id="footerPrevImg" src="{{ url_for('static',filename='media/icons/prev.png') }}">
        		<img class="mainImg" id="footerPlayImg" src="{{ url_for('static',filename='media/icons/play.png') }}">
        		<img class="smallImg" id="footerNextImg" src="{{ url_for('static',filename='media/icons/next.png') }}">
	        </div>

        	<span class="playingTimeLength lowerBarSmallText" id="playingTimeLength"> -:-- </span>
		</div>
	</div>
</body>
</html>