@mixin noMarginOrPadding
{
    margin: 0;
    padding: 0;
}


@mixin ellipsesAfterTwoLines
{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}


@mixin ellipsesAfterThreeLines
{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

@mixin scrollBar
{
    max-height:13px;
    width: 13px;

    &-thumb{
        background: grey;
        border-radius: 50px;

        &:hover{
            background: #9c9c9c;
        }
    }

    &-track{
        background-color: #444444;
    }
}

$mainBgColor: #0f0f0f;
$playlistBgColor: #070707;
$topBarTotalHeight: 65px;
$bottomBarTotalHeight: 108px;
$contentGlow: 0 0 4px 0 #b3b3b3;
$dropDownGlow: 0 0 2px 2px #c0c0c0;
