@use 'globalVars' as *;


.homePageBackground
{
    min-height: calc(100vh - #{$topBarTotalHeight});

    @include noMarginOrPadding;

    background-color: $mainBgColor;
}


.playlistGridContainer
{
    height: calc(100vh - #{$topBarTotalHeight});

    @include noMarginOrPadding;

    overflow: auto;

    &::-webkit-scrollbar
    {
        @include scrollBar;
    }
}


.playlistGrid
{
    align-content: start;
    display: grid;
    grid-gap: 100px 70px;
    grid-template-columns: repeat(auto-fill, 264px);
    justify-content: center;
    
    min-width: 266px;

    margin: 0;
    padding: 40px 80px;

    overflow: auto;
}


.playlistCard
{
    display: flex;
    flex-direction: column;

    height: 150px;
    width: 250px;

    background-color: #8d8d8d;
    box-shadow: $contentGlow;
    font-size: 140%;
}


.playlistCardLink
{
    display: grid;
    justify-content: center;

    height: inherit;

    text-decoration: none;
}



.divSpacers{
    display: flex;

    @include noMarginOrPadding;
}


.playlistCardOptionsButton{
    height: 30px;
    width: 30px;

    @include noMarginOrPadding;
}


.playlistPreviewTitle{
	max-height: calc(100% - 16px);

	color: white;
}