@mixin no-margin-or-padding
{
    margin: 0;
    padding: 0;
}

@mixin all-norms{
    @include normal-margin;
    @include normal-padding;
    @include normal-text-font;
}

@mixin normal-margin
{
    margin: 4px;
}

@mixin normal-padding
{
    padding: 4px;
}

@mixin normal-text-font{
    font-family: sans-serif;
}


@mixin ellipses-after-two-lines
{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}


@mixin ellipses-after-three-lines
{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

@mixin scroll-bar
{
    max-height:13px;
    width: 13px;

    &-thumb{
        background: grey;
        border-radius: 50px;

        &:hover{
            background: #9c9c9c;
        }
    }

    &-track{
        background-color: #444444;
    }
}

$mainBgColor: #0f0f0f;
$playlistBgColor: #070707;
$topBarTotalHeight: 65px;
$bottomBarTotalHeight: 108px;
$contentGlow: 0 0 4px 0 #b3b3b3;
$dropDownGlow: 0 0 2px 2px #c0c0c0;
