@use '_global-vars' as *;

.top-bar
{
    align-items: center;
    display: flex;
    justify-content: center;

    height: 60px;
    width: 100%;

    border-width: 0 0 5px 0;

    background-color: #000000;
    border-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(66, 66, 66, .5)) 100;
    border-style: solid;
    @include normal-text-font;
}


.search-bar
{
    align-items: center;
    display: flex;

    height: 30px;
    width: 400px;

    @include normal-padding;

    background-color: #2a2a2a;
    border-radius: 2px;
}


.side-panel
{
    display: grid;
    flex-direction: column;
    justify-content: center;
    position: fixed;

    height: 300px;
    width: 70px;

    margin: 20px 0;

    background-color: transparent;
}


.panel-button-container
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.panel-button
{
    height: 40px;
    width: 40px;

    cursor: pointer;
}


.side-panel-icon
{
    width: 40px;
}


.screen-prompt-blur
{
    align-items: center;
    display: flex;
    justify-content: center;
    position: absolute;

    height: 100vh;
    width: 100vw;

    background-color: rgb(110, 110, 120, .4);
    color: #908f8f;
    z-index: 1;
}


.base-screen-prompt
{
    @include all-norms;

    align-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    width: 350px;

    padding: 20px;

    background-image: linear-gradient(135deg, black, #212328);
    border-radius: 4px;
    box-shadow: $contentGlow;
}


.screen-prompt-text
{
    @include all-norms;

    width: 100%;

    font-size: large;
}

.screen-prompt-positive-button
{
    @include all-norms;

    background-color: white;
    border-radius: 2px;

    &:hover{
        background-color: #b6b9d9;
    }
}


.screen-prompt-cancel-button
{
    @include all-norms;

    background-color: #9f9f9f;
    border-radius: 2px;

    &:hover{
        background-color: #cccccc;
    }
}


.generic-textbox
{
    @include all-norms;

    width: 300px;

    background-color: #909090;
}


.small-generic-textbox
{
    @include all-norms;

    background-color: #909090;
}


.notification-box-container
{
    @include all-norms;

    bottom: $bottomBarTotalHeight;
    display: flex;
    position: fixed;
    right: 13px;

    z-index: 1;
}


.notification-box
{
    @include all-norms;

    align-items: center;
    display: flex;
    justify-content: center;

    height: 50px;
    width: 160px;

    background-color: #3f3f3f;
    background-image: linear-gradient(135deg, #474747, #26272a);
    box-shadow: 0 0 4px 0 #474747;

    animation: fade 8s linear;
}

.notification-text
{
    @include all-norms;

    display: flex;
    text-align: center;

    font-weight: 700;
}


@keyframes fade
{
    from{opacity: 1;}
    to {opacity: 0;}
}



.link-text
{
    justify-content: center;

    height: fit-content;

    color: white;
    cursor: pointer;
    text-decoration: none;

    &:active{
        color: grey;
    }

    &:hover{
        text-decoration: underline;
    }   
}