@use '_global-vars' as *;


.home-page-background
{
    min-height: calc(100vh - #{$topBarTotalHeight});

    background-color: $mainBgColor;
}


.playlist-grid-container
{
    height: calc(100vh - #{$topBarTotalHeight});

    @include normal-text-font;
    overflow: auto;

    &::-webkit-scrollbar
    {
        @include scroll-bar;
    }
}


.playlist-grid
{
    align-content: start;
    display: grid;
    grid-gap: 100px 70px;
    grid-template-columns: repeat(auto-fill, 264px);
    justify-content: center;
    
    min-width: 266px;

    padding: 40px 80px;

    overflow: auto;
}


.playlist-card
{
    @include all-norms;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    height: 150px;
    width: 250px;

    background-color: #8d8d8d;
    box-shadow: $contentGlow;
    font-size: 140%;
}


.playlist-card-options-button{
    display: flex;

    height: 30px;
    width: 30px;

    cursor: pointer;
}


.playlist-preview-title{
    display: flex;
    justify-content: center;

    height: 100%;
    width: 100%;
}

.link-color
{
    color: white;
}


.full-width-and-height
{
    height: 100%;
    width: 100%;
}

.space-between{
    display: flex;
    justify-content: space-between;
}
