@use 'globalVars' as *;

$text-color: #cecece;

.lowerBar
{
    height: 100px;
    width: calc(100vw - 20px);

    border-width: 8px 0 0 0;
    padding: 0 10px;

    background-color: #000;
    border-image: linear-gradient(to top, rgba(255,0,0,0), rgba(66, 66, 66, .5)) 100;
    border-style: solid;
    @include normal-text-font;
}


.seekBar
{
    align-items: center;
    display: flex;
    justify-content: left;

    height: 10px;

    margin: 6px 0;
    padding: .2% .2%;

    cursor: pointer;
    border-radius: 60px;
    background-color: grey;
}


.seekBarProgress
{
    height: 7px;
    width: 0;

    background-color: royalblue;
    border-radius: 100px;
}


.seekBarHandle
{
    height: 80px;
    width: 80px;

    margin: 0 -35px;

    background: white;
    border: 2px solid #000;
    border-radius: 100px;
    transform: scale(.2, .2);
}

.lowerBarTextAndButtonsWrapper
{
    display: flex;

    margin: 0 5px;

    font-size: 12px;
    justify-content: center;
}

.currentTimeAndTitle
{
    float: left;

    flex-grow: 1;
    width: 40%;

    @include all-norms;
    padding-bottom: 0;
    padding-top: 0;

    color: $text-color;;
}

.lowerBarSmallText
{
    @include all-norms;
    margin: 4px 0;
}

.playingTitle
{
    height: 35px;

    @include normal-padding;

    @include ellipsesAfterTwoLines;
    font-size: 15px;
}

.lowerBarButtonsWrapper
{
    align-items: center;
    display: flex; /* gap? */
    justify-content: center;

    flex-grow: 2;
    width: 20%;

    margin: auto;   
}

.mainImg
{
    width: 60px;

    cursor: pointer;
}

.smallImg
{
    width: 30px;

    @include all-norms;

    cursor: pointer;
}



.playingTimeLength
{
    flex-grow: 1;
    float: right;
    text-align: right;

    width: 40%;

    @include normal-margin;
    margin-top: 0;
    margin-bottom: 0;

    color: $text-color;  
}