 
// CSS formatting:
//     - positional formatting - ex: display, position
//     - sizing ---------------- ex: width, height, font-sizing
//     - layout ---------------- ex: margin, padding
//     - color, fonts, cosmetic
//  with each category alphabetized


@use 'globalVars' as *;


body{
    margin: 0;
}

.generic-attrs{
    @include all-norms;
}


.playlist-content-container
{
    overflow: auto;
    position: relative;

    height: calc(100vh - #{$topBarTotalHeight} - #{$bottomBarTotalHeight});
    width: 100vw;

    background-color: $mainBgColor;
    background-position: center;

    &::-webkit-scrollbar
    {
        @include scroll-bar;
    }
}



.content-container
{
    width: 100%;
}


.playlist-header
{
    align-items: center;
    display: flex;
    justify-content: left;

    height: 180px;
    min-width: fit-content;

    margin: 40px 80px;
    @include normal-padding;

    background-color: transparent;
    @include normal-text-font;
}


.playlist-preview-images
{
    display: flex;
    flex-wrap: wrap;

    height: 160px;
    min-width: 160px;
    width: 160px;

    @include normal-margin;
}


.cover-preview-img
{
    height: 80px;
    width: 80px;

    object-fit: cover;
}


.header-title-and-buttons
{
    // This is to get title buttons centered to the playlistPreviewImages
        // probably a better solution?
    height: 170px;
    // -------------------------------------------
    min-width: fit-content;

    @include all-norms;

    color: white;
    font-size: xx-large;
    font-style: italic;
    font-weight: 700;
}


.header-title-and-play
{
    align-items: center;
    display: flex;

    @include all-norms;
}


.playlist-title
{
    max-height: 150px;
    max-width: 500px;

    @include all-norms;

    @include ellipses-after-three-lines;
}

.header-play-icon
{
    width: 50px;

    @include all-norms;
}


.playlist-buttons-and-metadata-wrapper
{
    @include normal-margin;
}

.playlist-buttons-container
{
    align-items: center;
    display: flex;

    margin: 4px 4px 2px;
    @include normal-padding;
}


.playlist-metadata-text-container
{
    align-items: center;
    display: grid;
    grid-auto-flow: column;

    margin: 2px 4px 4px;
    @include normal-padding;

    @include normal-text-font;
}


.header-small-button
{
    width: 85px;

    @include normal-padding;

    cursor: pointer;
}


.header-small-text
{
    width: fit-content;

    @include normal-padding;

    color: #a3a3a3;
    font-size: 14px;
    font-style: normal;
    @include normal-text-font;
}






// /* m/p: x,y; vertical | horizontal */
//  m/p: w,y,x,z; TRBL 
// /* m/p: y,x,z; top | horizontal | bottom 