/* 
CSS formatting:
	- positional formatting - ex: display, position
	- sizing ---------------- ex: width, height, font-sizing
	- layout ---------------- ex: margin, padding
	- color, fonts 
 
 with each category alphabetized
*/

*
{
    margin: .5% 1%;
    padding: .5% 1%;

    font-family: sans-serif;
}


html{
	margin: 0;
	padding: 0;
}

body
{
	width: 100%;

    margin: 0;
    padding: 0;

    background-color: #333;
}



.mainContainer
{
    position: relative;

    width: 100%;

    margin: 0;
    padding: 0;

    background-color: #333; /*medium grey*/
    background-position: center;
}

.sidePanel
{
	display: flex;
    position: fixed;

    height: 78vh;
    width: 70px; /* percentage? */
    /* min-width: fit-content; */

    flex-direction: column;
    margin: 0;
    padding: 1vh .5%;

    background-color: black;
    color: purple;
}

.content
{
    width: auto;
    margin: 0 6%;

    background-color: #002; /*dark blue*/
}

.centerBox
{
    margin: auto;
    margin-top: 50px;
    margin-right: 50%;
}

.navBar
{
    width: 70%;

    color: pink;
    background-color: grey;
}

#coverImg
{
    width: 45px;
    height: 45px;

    cursor: pointer;
    object-fit: cover; /* property such that images DON'T distort to fit dimensions of parent */
}



.lowerBar
{
    position: fixed;
    bottom: 0;

    width: 98%;
    height: 10vh;

    margin: 0;
    padding: 10px 1%;

    background-color: #000;/* #191919; */
}


.seekBar
{
	align-items: center;
    display: flex;
    justify-content: left;

    height: 10px;
    margin: 6px 0;
    padding: .2% .2%;

    cursor: pointer;
    border-radius: 60px;
    background-color: grey;


}


.seekBarProgress
{
    width: 0;
    height: 7px;

    margin: 0 0 0 0;
    padding: 0;

    border-radius: 100px;
    background-color: royalblue;
}


.seekBarHandle
{
    width: 80px;
    height: 80px;

    margin: 0 -35px 0 -35px;
    padding: 0 0;

    border: 2px solid #000;
    border-radius: 100px;
    background: white;
    transform: scale(.2, .2);
}

.lowerBarButtonsWrapper
{
    display: flex;

    margin: 0 .5%;
    padding: 0;

    justify-content: center;
}

.currentTimeAndTitle
{
    float: left;

    flex-grow: 1;
    width: 10%;

    margin: 0;
    padding-top: 0;

    color: #cecece; /* very light grey */
}

.threeButtonContainer
{
	align-items: center;
    display: flex; /* gap? */
    justify-content: center;

    flex-grow: 2;
    width: fit-content;

    margin: auto;
    padding: 0;   
}

.column
{
    float: left;
    text-align: center;

    width: fit-content;

    margin: 0;
    padding: 0 .5%;
    
    cursor: pointer;
    background-color: #000;
}

.mainImg
{
	width: 70px;
}

.smallImg
{
	width: 40px;
}


.timeLength
{
	flex-grow: 1;
    float: right;
    text-align: right;

    width: 10%;

    margin-top: 0;
    margin-bottom: 0;

    color: #cecece; /* very light grey */  
}



ul
{
    list-style-type: none;
}

ul li
{
    display: inline-block;
}

ul li a
{
    padding: 5px 20px;

    color: #fff;
    border: 1px solid #fff;
}

ul li a:hover
{
    color: #000;
    background-color: #fff; /*white*/
}

ul li.active a
{
    color: #000;
    background-color: #fff;
}


::-webkit-scrollbar
{
    /* height: 90vh; */
    width: 12px;
}

::-webkit-scrollbar-thumb
{
	background: grey;
    border-radius: 50px;
}


/* margin: x,y; vertical | horizontal */
/* margin: w,y,x,z; TRBL */
/* margin: y,x,z; top | horizontal | bottom*/

/* same for padding */
