*{
	margin: .5% 1%;
	padding: .5% 1%;
	font-family: sans-serif;
	/* font-color: white; */
}
body{
	background-color: white;
	margin: -5% -2.1%;
	padding: 0% 0%;
	/* position:relative; */
}



.container{
/* 	height: 100%; */
	width: 100%;
	margin: 5% 1%;
	padding: 6% 0%;
	margin:auto;
	background-color: #333; /*medium grey*/
	background-size: cover;
	background-position: center;
	position: relative;
}

	.content{
		width: 85%;
		margin: 0% 6%;
		/* padding: 4% 1; */
		background-color: #002; /*dark blue*/
		/* position: relative; */
	}

		#navBar{
			width:70%;
			position: center;
			color:pink;
			background-color:grey;
		}



		.centerBox{
			margin-right: 50%;
			margin: auto;
			margin-top: 50px;
		}

		.centerBox p{
			font-size:20px;
			color: black;
			margin:auto;
			font-weight:400;
			margin-right:10px;
		}


			#coverImg{
				object-fit: cover; /* property such that images DON'T distort to fit dimensions of parent */
				width:45px;
				height: 45px;
				cursor:pointer;
			}



#lowerBar{
	background-color: #111;
	/* margin-left: 0%;
	margin-bottom: 0%; */
	margin: auto;
	width:98%;
	height:10%;
	position:fixed;
	bottom:0;
}


	#seekBar{

		width: 98%;
		height: 5%;
		background-color:grey;
		border-radius:50px;
		margin-left:0px;
		cursor:pointer;
		position: relative;
		padding: .2% .2%;
	}


		#fill{
			margin-top: -.05%;
			margin-left: 0px;
			max-width: 99.5%;
			/* width: 0px; */
			width: 0%;
			border-radius: 100px;
			background-color: royalblue;
			/* border-left-width: 10px; */
			position: relative;
			padding: .2% .2%;

		}


		#handlef{
			margin-top: -3%;
			margin-left: -1.6%;
			border: 2px solid #000;
		    padding: 10px 40px;
		    background: white;
		    width: 1px;
		    height: 60px;
		    border-radius: 100px;
		    transform: scale(0.2, 0.2);
		    position: absolute;
		}

	.lowerBarButtonsWrapper {
	    /* margin: auto; */
	    /* width: 100%; */
	    /* overflow: auto; */
	    display: flex;
	    justify-content: center;
	}

		.currentTimeAndTitle{
			color: #cecece; /* very light grey */
			float: left;
			flex-grow: 1;
			margin: 0;
			padding-top: 0;
			width: 10%;
		}

			#currentTimeStamp{

			}


		.threeButtonContainer {
		    display: flex;
		    justify-content: center;
		    width: 30%;
		    flex-grow: 2;
		}

		#threeButtons{
			margin: auto;

		}
			.column{
				background-color: orange;
				cursor:pointer; 
				float: left;
				width: 20%;
				text-align: center;
			}

				#prevImg,#currImg,#nextImg{
					width: 35px;
				}


		#timeLength{
			color: #cecece; /* very light grey */
			float: right;
			text-align: right;
			margin-top: 0;
			margin-bottom: 0;
			flex-grow: 1;
			width: 10%;
		}

/* #playNext{
	width: 35px;
} */

ul{
	list-style-type: none;
}

ul li{
	display: inline-block;
}

ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid #fff;
}

ul li a:hover{
	background-color: #fff; /*white*/
	color: #000;
}

ul li.active a{
	background-color: #fff;
	color: #000;
}


/* figure out where to place this */
#sidePanel{
	margin-top: -100%;
	position: absolute;
	color: purple;
}


::-webkit-scrollbar{
	width: 12px;
}

::-webkit-scrollbar-thumb{
	border-radius: 50px;
	background: grey;
}


/* margin: x,y; vertical | horizontal */
/* margin: w,y,x,z; TRBL */
/* margin: y,x,z; top | horizontal | bottom*/

/* same for padding */