/* 
CSS formatting:
	- positional formatting - ex: display, position
	- sizing ---------------- ex: width, height, font-sizing
	- layout ---------------- ex: margin, padding
	- color, fonts 
 
 with each category alphabetized
*/


body
{
	width: 100%;

    margin: 0;
    padding: 0;

    background-color: #171717;
}


.bodyClass */* div, img, table */
{
    margin: 4px;
    padding: 4px;

    font-family: sans-serif;
}


.topBar
{
    height: 60px; /* make percentage? */
    width: 100%;

    border-width: 0 0 5px 0;
    margin: 0;
    padding: 0;

    background-color: #000000;
    border-image: linear-gradient(to bottom, rgba(255,0,0,0), rgba(66, 66, 66, .5)) 100;
    border-style: solid;

}


.mainContainer
{
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;

    height: calc(100vh - (65px + 12vh + 9px)); /* whole screen minus header and footer */
    width: 100vw;

    margin: 0;
    padding: 0;

    background-color: #0f0f0f;
    background-position: center;
}

.sidePanel
{
	display: flex;
    position: fixed;

    height: inherit;
    width: 70px; /* percentage? */
    /* min-width: fit-content; */

    flex-direction: column;
    margin: 0;
    padding: 0;

    background-color: transparent;
    color: #cccccc;
}


.panelButton
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.sidePanelIcon
{
    width: 40px;

    margin: 8px 0 0 0;

    background-color: transparent;
    cursor: pointer;
}


.contentContainer
{
    width: 100%;

    margin: 0 0 5vh 0;
    padding: 0;
}



.playlistHeader
{
    align-items: center;
    display: flex;
    justify-content: left;

    height: 180px;
    min-width: fit-content;
    width: auto;

    margin: 40px 80px;

    background-color: transparent;
}


.playlistPreviewImages
{
    display: flex;
    flex-wrap: wrap; /* fix wrap problem */

    height: 160px;
    min-width: 160px;
    width: 160px;



    padding: 0;
}

    .coverPreviewImg
    {
        height: 80px;
        width: 80px;

        margin: 0;
        padding: 0;

        object-fit: cover;

    }

.headerTitleAndButtons
{
    min-width: fit-content;

    color: white;
    font-size: xx-large;
    font-style: italic;
    font-weight: 700;
}


.headerTitleAndPlay
{
    align-items: center;
    display: flex;
}


.buttonTextCombo
{
    align-items: center;
    display: flex;

}

.headerPlayIcon
{
    width: 50px;
}


.headerSmallButton
{
    width: 25px;

    margin: 0;

    cursor: pointer;
}


.headerSmallButtonText
{
    margin: 0;

    font-size: 14px;
    font-style: normal;   
    font-weight: 100;

}



.content
{
    min-width: fit-content;
    width: auto;

    border: 4px;
    margin: 0 80px;
    padding: 15px 25px;

    background-color: #070707;
    border-color: #070707;
    border-radius: 2px;
    border-style: solid;
    box-shadow: 0px 0px 4px 0px #b3b3b3;
    color: #c3c3c3;
    font-size: 15px;
}


.songTableHeader
{
    display: flex;

    margin: 0 4px;
    padding: 0 16px 0 52px;

    color: #979090;
    font-size: 16px;
}


.durationImg
{
    width: 29.2px;
}


.coverImg
{
    width: 40px;
    height: 40px;

    margin: 0;
    padding: 0;

    cursor: pointer;
    object-fit: cover; /* property such that images DON'T distort to fit dimensions of parent */
}


.songTableClass
{
    width: calc(100% - 8px);
}


.songRowClass
{
    height: 10px;

    overflow: hidden;
}


.songContainer
{
    align-items: center;
    display: flex;

    height: 40px;

    overflow: hidden;
}


.songTitleOrArtist
{
    align-items: center;
    display: flex;

    height: 35px;
    width: 100%;

    margin: 0 4px;
    padding: 0 4px;

    overflow: hidden;
}

.songDurationClass
{
    width: fit-content;
}


.songDivider
{
    height: 1px;
    width: inherit;

    margin: 0;
    padding: 0;

    background-color: #414141;
}


.lowerBar
{
    position: fixed;
    bottom: 0;

    width: calc(100vw - 20px);
    height: 12vh;

    border-width: 9px 0 0 0;
    margin: 0;
    padding: 0 10px;

    background-color: #000;
    border-image: linear-gradient(to top, rgba(255,0,0,0), rgba(66, 66, 66, .5)) 100;
    border-style: solid;
}


.seekBar
{
	align-items: center;
    display: flex;
    justify-content: left;

    height: 10px;

    margin: 6px 0;
    padding: .2% .2%;

    cursor: pointer;
    border-radius: 60px;
    background-color: grey;
}


.seekBarProgress
{
    width: 0;
    height: 7px;

    margin: 0 0 0 0;
    padding: 0;

    border-radius: 100px;
    background-color: royalblue;
}


.seekBarHandle
{
    width: 80px;
    height: 80px;

    margin: 0 -35px 0 -35px;
    padding: 0 0;

    border: 2px solid #000;
    border-radius: 100px;
    background: white;
    transform: scale(.2, .2);
}

.lowerBarButtonsWrapper
{
    display: flex;

    margin: 0 .5%;
    padding: 0;

    justify-content: center;
}

.currentTimeAndTitle
{
    float: left;

    flex-grow: 1;
    width: 10%;

    margin: 0;
    padding-top: 0;

    color: #cecece; /* very light grey */
}

.lowerBarSmallText
{
    font-size: 12px;
}

.playingTitle
{
    height: 35px;

    margin: 0 0 0 4px;
    padding: 0 0 0 4px;

    font-size: 15px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.threeButtonContainer
{
	align-items: center;
    display: flex; /* gap? */
    justify-content: center;

    flex-grow: 2;
    width: fit-content;

    margin: auto;
    padding: 0;   
}

.mainImg
{
	width: 60px;

    margin: 0;
    padding: 0;

    cursor: pointer;
}

.smallImg
{
	width: 40px;

    cursor: pointer;
}



.playingTimeLength
{
	flex-grow: 1;
    float: right;
    text-align: right;

    width: 10%;

    margin-top: 0;
    margin-bottom: 0;

    color: #cecece; /* very light grey */  
}


.mainContainer::-webkit-scrollbar
{
    width: 13px;
}

.mainContainer::-webkit-scrollbar-thumb
{
    background: grey;
    border-radius: 50px;
}


.mainContainer::-webkit-scrollbar-thumb:hover
{
    background: #9c9c9c;
}



.mainContainer::-webkit-scrollbar-track
{
    background-color: white;
}

/* margin: x,y; vertical | horizontal */
/* margin: w,y,x,z; TRBL */
/* margin: y,x,z; top | horizontal | bottom*/

/* same for padding */
